{% extends 'home/base.html' %}
{% block body_block %}
  <div class="container">
    <div class="jumbotron">
      <h1>Login here :</h1>
<form method="post" action="{% url 'home:user_login' %}">
          {% csrf_token %}
          {# A more "HTML" way of creating the login form#}
          <label for="username">Username:</label>
          <input type="text" name="username" placeholder="Username">
          <label for="password">Password:</label>
          <input type="password" name="password" placeholder="Password">
          <label for="fname">First Name:</label>
          <input type="text" name="fname" placeholder="first name">
          <label for="lname">Last Name:</label>
          <input type="text" name="lname" placeholder="last name">
          <label for="email">Email:</label>
          <input type="email" name="email_id" placeholder="email id">
          <label for="mobile">Mobile:</label>
          <input type="text" name="mobile_no" placeholder="mobile no">

<input type="submit" name="" value="Login">
</form>
</div>
  </div>
{% endblock %}