/* preloader css */

/* end preloader css */
#header-nav{
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}
.header-shrink{
    line-height: 0;
    padding: 0;
    margin: 0;
    height: 70px;
    text-align: center;
}
.header-nav{
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
}
.headers-link{
   
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.logo-header{
    margin-left: 10rem;
}
.header-btn{
    cursor: pointer;
}
.banner-main{
}
.top-content-banner{
    position: absolute;
    top: 8%;
    left: 0;
    right: 0;
    bottom: 0;
    margin-left : 13%;
    color: white;
    font-size: 80px;
}
.links-content-banner{
    position: absolute;
    top: 73%;
    left: 0%;
    right: 0;
    bottom: 0;
    font-size: 25px;
    color: white;
}
.landing-btn-banner{
    position: absolute;
    top: 83%;
    left: 0%;
    right: 0;
    bottom: 0;
    font-size: 15px;
}
.landing-signin-banner{
    position: absolute;
    top: 90%;
    left: 0%;
    right: 0;
    bottom: 0;
    color: lightgrey;
}
.dash-banner{
    position: absolute;
    top: 95%;
    left: 0%;
    right: 0;
    bottom: 0;
    border-top: 3px solid white;
    width: 7rem;
    margin: 0 auto;
}
.left-content-home{
    color: gray;
    font-size: 18px;
    border-left: 4px solid #333333;
}
.first-l-l-c{
    font-weight: bolder;
    font-style: bold;
    font-size: 25px;
}
.m-c-a-w-h-y{
    font-size: 25px;
    font-weight: bolder;
}
.content-a-w-h-y{
    font-size: 25px;
    font-weight: bolder;
    color: #333333;
}
.content-a-w-h-y2{
    font-size: 25px;
    font-weight: bolder;
    color: #777777;
}
.footer{
    background-color: #333333;
    height: 200px;
    z-index: 999;
    height: 20rem;
}
#footer-input-email{
    width: 40%;
    border-radius: 20px;
    padding: 0px;
    border-radius: 1rem;
    outline: none;
}
.footer-links{
    color: white;
}
.footer-links-border{
    border-left: 1.7px solid white;
    margin-right: 7px;
}
.footer-copy-right{
    color: white;
    border-top: 1.7px solid white;
    border-bottom: 1.7px solid white;
    padding: 5px;
}
/* animation key typing */
/* #share-a{
    opacity: 0;
}
#write-a{
    display: inline-block;
    animation: write-a 1.5s steps(6);
    overflow: hidden;
    white-space: nowrap;
    width: 6.5ch;
}
@keyframes write-a{
    0%{width: 0ch;}
    100%{width: 6ch; display: inline;}
}
#share-a{
    position: absolute;
    top: 0%;
    animation-name: share-a;
    animation-delay: 1.5s;
    animation-timing-function: ease;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}
  @keyframes share-a {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
}
#colab-a{
    position: absolute;
    top: -1200px;
    margin-left: 23rem;
    animation-name:colab-a;
    animation-delay: 2s;
    animation-duration: 1.5s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}
@keyframes colab-a{
    100%{top: 0;}
}
#colab-b{
    position: absolute;
    top: 0%;
    left: 2000px;
    margin-left: 32rem;
    animation-name: colab-b;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    animation-delay: 3s;
    animation-duration: 1.5s;
}
@keyframes colab-b{
    100%{left:22rem;}
} */