{% extends 'user_profile/base.html' %}
<style>
    .container {
  width: 500px;
  clear: both;
}
.container input {
  width: 100%;
  clear: both;
}
</style>

{% block title %}
{% endblock %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
    <div class="container">
        <nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light align-baseline shadow p-3 mb-3 mb-lg-0 pb-0 bg-white"  style="height: 70px; color:white;">
            <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler"
                aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand ml-auto d-none d-md-inline" href="#"> <img src="{% static "images/Logo.png" %}"
                    alt="colab-Image"> </a>

            <div class="collapse navbar-collapse" id="navbarToggler">
                <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                    <form class="form-inline my-2 my-lg-0">
                        <div class="input-icons">
                            <i class="fa fa-user icon"></i>
                            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                        </div>
                    </form>
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>

                    {% if request.user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Logout</a>
                    </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#">Disabled</a>
                    </li>
                </ul>
            </div>
            <a class="navbar-brand ml-auto" href="#"> <img src="{% static "images/user_default_img.jpeg" %}"
                    alt="Profile-Image" class="rounded-circle"
                    style="border:3px solid orangered; width:63px; height:63px;"> </a>
            </div>
        </nav>
    </div>
    <!-- end profile user navbar -->

    <!-- body  -->
    <!-- cover photo -->
<img id="cover-photo"
src="https://images.unsplash.com/photo-1563991655280-cb95c90ca2fb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
alt="cover-photo">
<div class="container">
<div class="row">
    <div class="col-4">
        <div class="us-img text-center" style="width: 18rem; border: 1px solid;">
            <img src="{% static "images/user_default_img.jpeg" %}" class="card-img-top" alt="User Image" style="width: 150px;" id="u-img">
        </div>
        <div class="card custom-shadow user-img" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Vestibulum at eros</li>
            </ul>
            <div class="card-body">
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
            </div>
        </div>
        <div class="temp">

        </div>
    </div>
    <div class="col-8">
        <div class="row">
            <div class="col-12">
                <ul class="nav justify-content-start">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Active</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                    </li>
                </ul>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-12">
                <button class="shadow p-3 mb-5 bg-white w-100" style="border: 1px solid orangered; color: orangered; text-transform: uppercase;">Add new +</button>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card w-100 shadow p-3 mb-5 bg-white" style="border: 1px solid white;">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-2 text-center" style="height: 84px; border: 1px solid red;">
                                <img src="{% static "images/user_default_img.jpeg" %}" class="img-fluid" alt="User Image" style="width: 92px; border: 1px solid;">
                            </div>
                            <div class="col-9">
                                <div class="row" style="height: 42px; border: 1px solid yellow;">Mohit Gopal</div>
                                <div class="row" style="height: 42px; border: 1px solid yellow;"><span class="align-bottom">April 14</span></div>
                            </div>
                            <div class="col-1 text-right border ">:</div>
                        </div>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</div>
</div>




<div class="container">
  <div class="row">
    <div class="col-md-8 card mb-4  mt-3 left  top">
      <div class="card-body">
{#        <h1>{% block title %} {{ post.title }} {% endblock title %}</h1>#}
        <p class=" text-muted">{{ post.author }} | {{ post.created_on }}</p>
        <p class="card-text ">{{ post.content | safe }}</p>
      </div>
    </div>

    <div class="col-md-8 card mb-4  mt-3 ">
      <div class="card-body">
        <!-- comments -->
        <h2>{{ comments.count }} comments</h2>

        {% for comment in comments %}
        <div class="comments" style="padding: 10px;">
          <p class="font-weight-bold">
            {{ comment.name }}
            <span class=" text-muted font-weight-normal">
              {{ comment.created_on }}
            </span>
          </p>
          {{ comment.body | linebreaks }}
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="col-md-8 card mb-4  mt-3 ">
      <div class="card-body">
        {% if new_comment %}
        <div class="alert alert-success" role="alert">
          Your comment is awaiting moderation
        </div>
        {% else %}
        <h3>Leave a comment</h3>
        <form method="post" style="margin-top: 1.3em;">
          {{ comment_form.as_p }}
          {% csrf_token %}
          <button type="submit" class="btn btn-primary  btn-lg">Submit</button>
        </form>
        {% endif %}
      </div>
    </div>
  </div>
</div>


{% endblock content %}


