{% extends 'home/base.html' %}
<style>
    .container {
  width: 500px;
  clear: both;
}
.container input {
  width: 100%;
  clear: both;
}
</style>
{% block title %}
Login Here
{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <form method="post" class="form-group">
    {% csrf_token %}
    {{ form|crispy }}
        {% for field in login_form %}
            <p>
                {{ field.label_tag }}
                {{ field }}
                {%  if field.help_text %}
                    <small style="color: grey;">{{ field.help_text }}</small>
                {%endif %}
                {%  for  error in field.errors %}
                    <p style="color: red;">{{ error }}</p>
                {% endfor %}
                {%  if login_form.non_field_errors %}
                    <div style="color: red;">
                        <p>{{ login_form.non_field_errors }}</p>
                    </div>
                {% endif %}
            </p>
   {% endfor %}
    <p>Don't have an account? create one <a href= '{% url 'register' %}'>here</a></p>
    <button type="submit" class="btn btn-success">Login</button>
</form>
</div>

{% endblock %}